<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Signin Template · Bootstrap v5.3</title>
    <!--
      <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    -->
    

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .form-label-signup{
        text-align: left ;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/login.css" rel="stylesheet">
  </head>
  <body class="bg-light">

<div class="container">
    
<main>
  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
		  <h4 class="mb-3">Driver Registration</h4>
      <form action="{% url 'driverregister' user.id%}" method="post" needs-validation novalidate>
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-12">
            <div class="form-label-signup">
              <label for="vehicleType" class="form-label">Vehicle Type</label>
            </div>
            <div class="input-group has-validation">
              <input type="text" class="form-control" name="vehicleType" placeholder="" required>
            </div>
          </div>

          <div class="col-12">
            <div class="form-label-signup">
              <label for="licensePlateNumber" class="form-label">License Plate Number</label>
            </div>
            <div class="input-group has-validation">
              <input type="text" class="form-control" name="licensePlateNumber" placeholder="" required>
            </div>
          </div>
        
          <div class="col-12">
            <div class="form-label-signup">
              <label for="maxPassenger" class="form-label">Maximum Passenger</label>
            </div>
            <input type="number" class="form-control" name="maxPassenger" placeholder="" required>
            
          </div>

          <div class="col-12">
            <div class="form-label-signup">
              <label for="specialInfo" class="form-label">Special Info</label>
            </div>
            <input type="text" class="form-control" name="specialInfo" placeholder="">
            
          </div>

          <div class="col-12">
            <input class="btn-signup btn btn-primary btn-lg" type="submit" value="Register as a driver!">
          </div>

        </div>
        
      </form>
    </div>
  </div>
</main>

    
</body>
</html>
