<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Signin Template · Bootstrap v5.3</title>
    <!--
      <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    -->


    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .form-label-signup{
        text-align: left ;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/login.css" rel="stylesheet">
  </head>
  <body class="bg-light">

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 text-align-left mb-md-0">
      <li><a href="/main" class="nav-link px-2 link-secondary">Home</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'logout' %}">Logout</a></button>
    </div>
  </header>
    
<main>
  <div class="row g-5">
    <div class="col-md-7 col-lg-8">      
        {% if is_driver %}
		<h4 class="mb-3">Driver Information</h4>

        <div class="row g-3">
          <div class="col-12">
            <div class="form-label-signup">
              <label for="vehicleType" class="form-label">Vehicle Type</label>
            </div>
            <div class="input-group has-validation">
              <div class="form-control">{{ driver.vehicleType }}</div>
            </div>
          </div>

        
          <div class="col-12">
            <div class="form-label-signup">
              <label for="licensePlateNumber" class="form-label">License Plate Number</label>
            </div>
            <div class="input-group has-validation">
                <div class="form-control">{{ driver.licensePlateNumber }}</div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-label-signup">
              <label for="maxPassenger" class="form-label">Maximum Passengers</label>
            </div>
            <div class="input-group has-validation">
                <div class="form-control">{{ driver.maxPassenger }}</div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-label-signup">
              <label for="specialInfo" class="form-label">special Information</label>
            </div>
            <div class="input-group has-validation">
                <div class="form-control">{{ driver.specialInfo }}</div>
            </div>
          </div>

          <div class="col-12">
            <div class="">
              <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'driveredit' user.id %}">Edit</a></button>
            </div>
            <div class=" text-end">
              <form action="{% url 'driverunregister' %}" method="post">
                {% csrf_token %}
                <!--<input type="hidden" name="userId" value="{{ user.id }}">-->
                <input class="btn btn-danger btn-block btn-lg" type="submit" value="Unregister">
              </form>
              
            </div>
          </div>

        </div>
        <!--
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'driveredit' user.id %}">Edit</a></button>
        </div>
        <div class="row g-3">
          <div class="col-sm-6">
            <input class="btn-signup btn btn-primary btn-lg" type="submit" value="Unregister">
          </div>
        </div>
      -->
       

        {% else %}
        <h4 class="mb-3">You haven't register as a driver.<a href="{% url 'driverregister' user.id %}">Register today!</a></h4>
        {% endif %}
    </div>
  </div>
</main>

    
</body>
</html>
