{% block content %}
    <h2>Driver's Ride Detail</h2>
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="text-muted">Destination: {{ ride.destination }}</a><br /> 
                <small class="text-muted">Arrival Time: {{ ride.arrivalTime }} </small><br /> 
                <small class="text-muted"># of Passengers: {{ ride.numOfPassengers }} </small><br /> 
                <small class="text-muted">Vehicle Type: {{ ride.vehicleType }} </small><br /> 
                <small class="text-muted">Share or not: {{ ride.isShare }}</small><br /> 
            </div> 
            <h2>Owner</h2>
            {% for editor in groups %}
                {% if ride.ownerID.username == editor %}
                    <a class="article-content">{{ editor }} : {{ groups|get_item:editor }} people</a><br /> 
                {% endif %}    
            {% endfor %} 
            <h2>Sharer</h2>
            {% for editor in groups %}
                {% if ride.ownerID.username != editor %}
                    <a class="article-content">{{ editor }} : {{ groups|get_item:editor }} people</a><br /> 
                {% endif %}    
            {% endfor %} 
            <h2>Special Info</h2>
            <p class="article-content">{{ ride.message }}</p>
            </div>
            <h2><a class="article-title" href="/{{ ride.id }}/complete/", type=submit>Complete</a></h2>
        </article>
{%endblock content%}