<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
</head>
<div class="py-5 container">
    <h2>Rides You Can Take</h2> 
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Arrival Time</th>
                        <th scope="col"># of Passengers</th>
                        <th scope="col">Vehicle Type</th>
                        <th scope="col">Message</th>
                        <th scope="col">Is Share</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Sharers</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for ride in rideList %}
                    <tr>
                        <td>{{ forloop.counter }}</td> 
                        <td>{{ ride.destination }}</td>
                        <td>{{ ride.arrivalTime }}</td>
                        <td>{{ ride.numOfPassengers }}</td>
                        <td>{{ ride.vehicleType }}</td>
                        <td>{{ ride.message }}</td>
                        <td>{{ ride.isShare }}</td>
                        <td>{{ ride.ownerID.username }}</td>
                        <td>{% for sharer in ride.sharerIDs.all %}{{ sharer.username }}</br>{% endfor %}</td>
                        <td><a href="/driversearch/confirm/{{ ride.id }}/">Confirm</a></td>
                    </tr>
                    {% endfor %}	
                </tbody>
            </table>
        </div>
    </div>  