<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="{% url 'userinfo' %}" class="nav-link px-2 link-dark">User Info</a></li>
          <li><a href="{% url 'driverinfo' %}" class="nav-link px-2 link-dark">Driver Info</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2"><a href="{% url 'logout' %}">Logout</a></button>
        </div>
    	</header>
    </div>
    
<main>

  <section class="py-5 text-center container">
    <div class="row py-md-5">
      <div class="col-lg-6 mx-auto">
        <!--<img src="/static/bootstrap/icons/main.jpg" alt="Take your ride" width=80% height=60%>-->
          <h4>Welcome to our ride website!</h4>
          <a href="/request" class="btn btn-primary my-2">Request a ride</a>
					<a href="/sharersearch" class="btn btn-primary my-2">Share a ride</a>
					<a href="/driversearch" class="btn btn-primary my-2">Take a ride(as a driver)</a>
          <!---
          <form action="{% url 'sendemail' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="userId" value="{{ user.id }}">
            <input class="btn btn-danger btn-block btn-lg" type="submit" value="Send Email">
          </form>
           -->
        </p>
      </div>
    </div>
		
  </section>
	<!--	
		<div class="col-md-9 ms-sm-auto">
	-->
	<div class="py-5 container">

		<h2>Rides You Own</h2> 
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Destination</th>
						<th scope="col">Arrival Time</th>
						<th scope="col"># of Passengers</th>
						<th scope="col">Vehicle Type</th>
            <th scope="col">Share or Not</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
					</tr>
				</thead>
				<tbody> 
          {% for ride in ownerList %}
          <tr>
            <td>{{ forloop.counter }}</td> 
						<td>{{ ride.destination }}</td>
						<td>{{ ride.arrivalTime }}</td>
						<td>{{ ride.numOfPassengers }}</td>
						<td>{{ ride.vehicleType }}</td>
            <td>{{ ride.isShare }}</td>
            <td>{{ ride.status }}</td>
            <td><a href="{% url 'passengerStatus' ride.id %}">detail</a></td>
          </tr>
          {% endfor %}	
				</tbody>
			</table>
		</div>

    <h2>Rides You Joined</h2>
    <div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Destination</th>
						<th scope="col">Arrival Time</th>
						<th scope="col"># of Passengers</th>
						<th scope="col">Vehicle Type</th>
            <th scope="col">Share or Not</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
					</tr>
				</thead>
				<tbody> 
          {% for ride in sharerList %}
          <tr>
            <td>{{ forloop.counter }}</td> 
						<td>{{ ride.destination }}</td>
						<td>{{ ride.arrivalTime }}</td>
						<td>{{ ride.numOfPassengers }}</td>
						<td>{{ ride.vehicleType }}</td>
            <td>{{ ride.isShare }}</td>
            <td>{{ ride.status }}</td>
            <td><a href="{% url 'passengerStatus' ride.id %}">detail</a></td>
          </tr>
          {% endfor %}	
				</tbody>
			</table>
		</div>

    <h2>Rides You Drive</h2>
    <div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Destination</th>
						<th scope="col">Arrival Time</th>
						<th scope="col"># of Passengers</th>
            <th scope="col">Vehicle Type</th> 
            <th scope="col">Share or Not</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
					</tr>
				</thead>
				<tbody> 
          {% for ride in driverList %}
          <tr>
            <td>{{ forloop.counter }}</td> 
						<td>{{ ride.destination }}</td>
						<td>{{ ride.arrivalTime }}</td>
						<td>{{ ride.numOfPassengers }}</td>
            <td>{{ ride.vehicleType }}</td>
            <td>{{ ride.isShare }}</td>
            <td>{{ ride.status }}</td>
            <td><a href="{% url 'driverStatus' ride.id %}">detail</a></td>
          </tr>
          {% endfor %}	
				</tbody>
			</table>
		</div>
	</div>

</main>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
