
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Owner Edit</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .form-label-signup{
        text-align: left ;
      }
    </style>


    <link href="/static/bootstrap/css/login.css" rel="stylesheet">
  </head>
  <body class="bg-light">
  <div class="container">
<main>
<div class="row g-5">
    <div class="col-md-7 col-lg-8">
        {% if err_msg %}
            <div class="alert alert-danger" role="alert">{{err_msg}}</div>
        {% endif %}
		<h4 class="mb-3">Owner Edit</h4> 
        <form method = "POST">
            {% csrf_token %}
            <div class="row g-3">
            
                {% for field in form %}
                {% if forloop.counter == 3 %}
                    <div class="col-12">
                        <div class="form-label-signup"> 
                            <label class="form-label">
                                <strong>
                                    Change of the Number Of Passengers
                                </strong>
                                <div style="color:#aba1a1";>(+/- value of the number of people from your group)</br></div>
                                <div style="color:#aba1a1";>(e.g. 2 means add 2 people, -1 means remove one person)</div>
                            </label>
                        </div>
                        <div class="input-group has-validation">
                            {{ field }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-6">
                        <div class="form-label-signup"> 
                            <label class="form-label">
                                <strong>{{ field.label_tag }}</strong>
                            </label>
                        </div>
                        <div class="input-group has-validation">
                            {{ field }}
                        </div>
                    </div>
                {% endif %}  
                    
                {% endfor %}
            
            <div class="form-group">
                <div class="col-12">
                    <button class="btn btn-primary btn-outpline-info" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
</main>
</div>
</body>
</html>

<!--
{% block content %}
    <div class = "content-section">   
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Modify Ride</legend>
                {% for field in form %}
                    <div class="fieldWrapper">
                        {% if forloop.counter == 3 %} 
                            Changes of numOfPassengers {{ field }}
                        {% else %}
                           {{ field.label_tag }} {{ field }}
                        {% endif %}  
                        
                    </div>
                {% endfor %}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outpline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{%endblock content%}
-->