{% block content %}
    <h2>Passenger's Ride Detail</h2>
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="text-muted">Destination: {{ ride.destination }} </a><br /> 
                <small class="text-muted">Arrival Time: {{ ride.arrivalTime }}</small><br /> 
                <small class="text-muted"># of All Passengers: {{ ride.numOfPassengers }} </small><br /> 
                <small class="text-muted">Vehicle Type: {{ ride.vehicleType }} </small><br /> 
                <small class="text-muted">Share or not: {{ ride.isShare }}</small>
            </div> 
            <h2>History</h2>
            {% for message in messages %}
                <a class="article-content">{{ message }}</a><br /> 
            {% endfor %} 
            <h2>Special Info</h2>
            <p class="article-content">{{ ride.message }}</p>
            </div>
        </article>
        {% if ride.status == 'confirm' %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="text-muted">Driver: {{ vehicle.driver }}</a><br /> 
                    <small class="text-muted">License Plate Number: {{ vehicle.licensePlateNumber }}</small><br /> 
                    <small class="text-muted">Special Info: {{ vehicle.specialInfo }}</small><br /> 
                </div> 
                </div>
            </article>
        {% endif %}
        {% if ride.status == 'open' %}  
            {% if ride.ownerID == requestID %} 
                <h2><a class="article-title" href="/{{ ride.id }}/passengerStatus/ownerEdit", type=submit>Owner Edit</a></h2>
            {% else %}
                <h2><a class="article-title" href="/{{ ride.id }}/passengerStatus/sharerEdit", type=submit>Sharer Edit</a></h2>
            {% endif %} 
            <h2><a class="article-title" href="/{{ ride.id }}/passengerStatus/quit", type=submit>Quit</a></h2> 
        {% endif %}      
{%endblock content%}