<div class="py-5 container">
<h2>Rides You Can Join</h2> 
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Destination</th>
					<th scope="col">Arrival Time</th>
					<th scope="col"># of Passengers</th>
					<th scope="col">Vehicle Type</th>
                    <th scope="col">Message</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Action</th>
				</tr>
			</thead>
			<tbody> 
                {% for ride in rideList %}
                <tr>
                    <td>{{ forloop.counter }}</td> 
					<td>{{ ride.destination }}</td>
					<td>{{ ride.arrivalTime }}</td>
					<td>{{ ride.numOfPassengers }}</td>
					<td>{{ ride.vehicleType }}</td>
                    <td>{{ ride.message }}</td>
					<td>{{ ride.ownerID.username }}</td>
                    <td><a href="/sharersearch/join/{{ ride.id }}/{{ num }}">join</a></td>
                </tr>
                {% endfor %}	
			</tbody>
		</table>
	</div>
</div>    